@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Kolker+Brush&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Kolker+Brush&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Wittgenstein:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Kolker+Brush&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Wittgenstein:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    width:100%;
    display:flex; 
    justify-content: space-around;
    align-items:center;
    border-top: 10px solid #D1963F;
    background-color: #474444;
}

h1{
    padding: 8px 16px;
    color:#D9D9D9;
    font-family: 'Kolker Brush';
    font-weight: 100;
    font-size:96px;
}

/*NAV BAR*/

nav{
    width:60%;
}

nav ul{
    display:flex;
    justify-content: space-around;
    list-style:none;
    padding:0;
    margin:0;
}

nav ul li a{
    text-decoration: none;
    color:#D1963F;
    font-size: 28px;
    font-family: 'Wittgenstein';
    transition: color 0.3s ease;
}

nav ul li a:hover{
    color:#836635;
}

/*TABS*/

section:nth-child(2) ul li a::after{
    content: '';
    width: 20px;
    height:30px;
    background-image: url(img/Group\ 75.svg);  
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left:15px;
}

.menu{
   color:#D9D9D9;
   background-color:#D1963F;
   padding: 8px 16px;
   border-radius: 16px;
}

/*END OF NAV BAR*/

/*TABS*/

section:nth-child(2){
    background-color: black;
    padding:20px;
}

section:nth-child(2) ul{
    list-style: none;
    display:flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
}

section:nth-child(2) ul li{
    font-size: 24px;
    font-family: 'Wittgenstein';
}

section:nth-child(2) ul li a{
    text-decoration: none;
    color:#D9D9D9;
    transition: color 0.3s ease;
}

section:nth-child(2) ul li img{
    padding: 10px 0px;
}

section:nth-child(2) ul li a:hover{
    color:#836635;
}

section:nth-child(2) ul li:nth-child(5) > a::after{ 
    background-image: none;}

/*END OF TABS*/
.fs-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1216px;
    margin: 120px;
}
.fs-section h2{
    font-size: 64px;
    font-family: 'Yeseva One';
    font-weight:100;
    margin-left:
}

footer{
    width:auto;
    height:395px;
    background-color: black;
    color:white;
    padding:20px;
    border-top-left-radius: 100% 40%;
    border-top-right-radius: 100% 40%;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}

.logo h4{
    width: 200px;
    height: 80px;
    font-family: 'kolker brush';
    font-size: 100px;
    font-weight: 100;
}

.logo img{
    width:250px;
    height:70px;
    padding: 20px;
    
}

.link{
}

.link h4{
    font-size: 40px;
    font-family: 'yeseva one';
    text-align: center;
}

.link ul li{
    max-width:497px;
    font-size:20px;
    font-family: 'wittgenstein';
    list-style: none;
    display: flex;
}
.link li a{
    text-decoration:none;
    color:#FFFFFF;
    
}
.listalink {
    width:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.listalink a::after{
    content:'';
    width: 20px;
    height: 20px;
    background-image: url('img/Frame 42.svg');
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 15px;
}

.contacts h4{
    width:auto;
    font-size:40px;
    font-family: 'yeseva one';
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contacts .txt{
    width: auto;
    font-size: 24px;
    font-family: 'Wittgenstein';
    font-weight: 100;
}

.contacts li{
    list-style: none;
    font-size: 30px;
    font-family: 'yeseva one';

}

.contacts{
    display: flex;
    flex-direction: column;
    
}